@font-face {
    font-family: "RalewayExtraBold";
    src: url('/proyectoFinalCamiloTovarCEI/fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: "RalewayBold";
    src: url('/proyectoFinalCamiloTovarCEI/fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: "RalewayLight";
    src: url('/proyectoFinalCamiloTovarCEI/fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: "RalewayMedium";
    src: url('/proyectoFinalCamiloTovarCEI/fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: "RalewaySemiBold";
    src: url('/proyectoFinalCamiloTovarCEI/fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: "RalewayRegular";
    src: url('/proyectoFinalCamiloTovarCEI/fonts/Raleway-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

/* ------------------------ SECCIÓN ES EL HEADER ------------------------ */

header {
    display: flex;
    justify-content: center;
}

.fondoDesktopHome {
    display: none;
}

img {
    width: 100%;
}

header>div {
    margin: 0.5rem 1.8rem;
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 4rem;
}

.logoCTColor {
    display: none;
}

#menu {
    display: none;
    position: absolute;
    background-color: #2ab91d;
    width: 73.5vw;
    height: 20rem;
    left: 18.8vw;
    flex-direction: column;
    top: -3.7vw;
    border-bottom-left-radius: 1rem;
}

.espacio {
    height: 70px;
}

#menu>a {
    display: block;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: "RalewaySemiBold";
    padding-left: 31px;
    border-bottom: 1px solid white;
}

#menu>a:last-of-type {
    border-bottom: none;
}

.btnSlide {
    margin-bottom: 1rem;
}

.btnSlide>a>button {
    min-width: 73.5vw;
    height: 44px;
    color: #fff;
    font-family: "RalewayBold";
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 2px solid #ffffff;
    background: #49a741;
    box-shadow: 0 6px #366b31;
}

.btnSlide>a>button:hover {
    box-shadow: 0 3px #286222;
    top: 1px;
}

.btnSlide>a>button:active {
    box-shadow: 0 0 #366b31;
    top: 5px;
}

button.hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button.hamburger>span.line {
    display: block;
    width: 40px;
    height: 5PX;
    background-color: white;
    margin-block: 8px;
    border-radius: 4px;
    transition: transform .5s, opacity .25s;
}

.primera {
    transform: translateY(13px) rotate(45deg);
}

.segunda {
    opacity: 0;
}

.tercera {
    transform: translateY(-13px) rotate(-45deg);
}

.contenedor-titulo-Imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-titulo-Imagen>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
}

header>div>div>div>h1 {
    color: white;
    text-align: center;
    font-size: 13vw;
    font-family: 'RalewayExtraBold';
}

/* ------------------------ESTA SECCIÓN ES EL MENSAJE CON IMAGEN DE FONDO------------------------ */

section#mensaje {
    margin-top: 2rem;
}

/* SE LE DE UN EFECTO A LA IMAGEN PARA QUE SE ACOPLE AL CONTENEDOR DONDE SE ENCUENTRA SIN QUE SE DEFORME LA IMAGEN NI SE SALGA */
section#mensaje>img {
    overflow: hidden;
}

section#mensaje>div {
    position: absolute;
    margin: 17vw 16vw 0vw;
}

section#mensaje>div>h3 {
    color: #ffffff;
    text-align: center;
    font-family: "RalewayBold";
    font-size: 5vw;
}

/* ------------------------ESTA SECCIÓN ES EL PROCESO------------------------ */

h2 {
    font-family: "RalewayBold";
    color: #4E2780;
    text-align: center;
    font-size: 2.3rem;
    margin: 3vh 2vw;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3.1px solid #4E2780;
    border-radius: 2rem;
    margin: 1rem 1.5rem;
    box-shadow: 2px 4px 0px 0px #4E2780;
    text-align: center;
}

.imgProceso {
    width: 35vw;
    margin: 1rem;
}

.contentSlide {
    margin: 0.2rem 1.5rem 1.3rem;
}

.contentSlide>p {
    font-family: "RalewayMedium";
    font-size: 1.2rem;
    margin: 0.3rem 0rem 0rem;
    text-align: center;
}

/* ------------------------ESTA SECCIÓN ES FACEBOOK------------------------ */

section.pautaWeb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.pautaWeb>h2 {
    margin-bottom: 0;
}

section.pautaWeb>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

section.pautaWeb>div>div:first-of-type {
    width: 80vw;
}

section.pautaWeb>div>div:last-of-type>article.tarjeta {
    margin: 0.5rem 0rem;
}

section.pautaWeb article.tarjeta {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 2rem;
}

section.pautaWeb .imgProceso {
    width: 20vw;
}

section.pautaWeb .contentSlide {
    margin: 0;
}

/* ------------------------ESTA SECCIÓN ES FOOTER------------------------ */

footer {
    background-color: #8C44E9;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1.8rem;
}

footer>div:first-of-type {
    width: 5rem;
    margin-top: 2rem;
}

footer>div>div {
    margin: 0.5rem;
}

footer>div:last-of-type>div:nth-child(1)>div:first-of-type {
    display: flex;
    flex-direction: column;
}

footer>div:last-of-type>div:nth-child(1)>div:first-of-type>h4 {
    font-family: "Ralewaybold";
    color: white;
    font-size: 1.2rem;
}

footer>div:last-of-type>div:nth-child(1)>div:first-of-type>a {
    color: white;
    margin: 0.2rem 0rem 0.5rem 0.5rem;
    font-family: "RalewayMedium";
    font-size: 0.9rem;
    text-decoration: none;
}

footer>div:last-of-type>div:last-of-type>div:first-of-type {
    display: flex;
    justify-content: space-around;
}

footer>div:last-of-type>div:last-of-type>div:last-of-type {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

footer>div:last-of-type>div:last-of-type>div>div {
    width: 11vw;
}

footer>div:last-of-type>div:last-of-type>div.btnSlide>a>button {
    min-width: 150px;
    height: 40px;
    border-radius: 15px;
    background: #2AB91D;
    box-shadow: 0 5px #208817;
}

footer>div:last-of-type>div:last-of-type>div.btnSlide>a>button:hover {
    box-shadow: 0 3px #208817;
}

footer>div:last-of-type>div:last-of-type>div.btnSlide>a>button:active {
    box-shadow: 0 0 #208817;
}

/* ------------------------ MEDIAS QUERYS ------------------------ */

@media (min-width: 600px) {

    /* ------------------------ SECCIÓN HEADER ------------------------ */

    .fondoMovilHome {
        display: none;
    }

    .fondoDesktopHome {
        display: flex;
        overflow: auto;
    }

    .logoCTBlanco {
        display: none;
    }

    .logoCTColor {
        display: block;
    }

    #menu {
        width: 49.3vw;
        left: 40vw;
    }

    .btnSlide>a>button {
        min-width: 49.3vw;
    }

    .contenedor-titulo-Imagen {
        flex-direction: row-reverse;
        margin-top: 1rem;
    }

    .contenedor-titulo-Imagen>div {
        width: 39vw;
    }

    header>div>div>div>h1 {
        font-size: 7vw;
        padding-bottom: 2rem;
    }

    h2 {
        font-size: 5.5vw;
    }

    /* ------------------------ESTA SECCIÓN ES EL PROCESO------------------------ */

    section#proceso>div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tarjeta {
        width: 28vw;
        margin: 1rem 0.3rem;
    }

    .imgProceso {
        width: 14vw;
        margin-top: 2rem;
    }

    /* ------------------------ESTA SECCIÓN ES FACEBOOK------------------------ */

    section.pautaWeb>div {
        flex-direction: row;
        justify-content: center;
    }

    section.pautaWeb>div>div:first-of-type {
        width: 40vw;
    }

    .contentSlide>p {
        font-size: 2.4vw;
    }

    section.pautaWeb .imgProceso {
        width: 5rem;
    }

    section.pautaWeb article.tarjeta {
        align-items: center;
        width: 25rem;
        height: 7rem;
        padding: 0.7rem;
    }

    /* ------------------------ESTA SECCIÓN ES FOOTER------------------------ */

    footer {
        height: 30vh;
        flex-direction: row;
        justify-content: center;
    }

    footer>div:last-of-type>div:last-of-type>div>div {
        width: 5vw;
        margin: 0px 1.4vw;
    }
}

@media (min-width: 1000px) {

    /* ------------------------ SECCIÓN HEADER ------------------------ */

    header>div {
        width: 88vw;
    }

    .div-hamburger {
        display: none;
    }

    #logo {
        width: 5rem;
    }

    #menu {
        display: flex;
        position: relative;
        flex-direction: row;
        background-color: transparent;
        width: 53vw;
        height: 4rem;
        left: auto;
        top: auto;
        justify-content: end;
        align-items: center;
    }

    #menu>a {
        line-height: normal;
        padding: 1rem 0rem;
        width: 8rem;
        text-align: center;
        border: none;
    }

    .espacio {
        display: none;
    }

    #btnMenuContact {
        margin-bottom: 0;
    }

    #btnMenuContact>a>button {
        min-width: 150px;
        height: 40px;
        border-radius: 15px;
        background: #2AB91D;
        box-shadow: 0 5px #208817;
        border-top: none;
    }

    #btnMenuContact>a>button:hover {
        box-shadow: 0 3px #208817;
    }

    #btnMenuContact>a>button:active {
        box-shadow: 0 0 #208817;
    }

    .contenedor-titulo-Imagen>div>h1 {
        padding-bottom: 0;
        font-size: 5.5vw;
    }

    .contenedor-titulo-Imagen {
        justify-content: space-around;
        margin-top: 2rem;
    }

    h2 {
        font-size: 3.7vw;
    }

    /* ------------------------ESTA SECCIÓN ES FACEBOOK------------------------ */

    section.pautaWeb>div>div:first-of-type {
        margin-right: 5rem;
    }

    section.pautaWeb>div>div:last-of-type>article.tarjeta {
        align-items: center;
        width: 30rem;
        height: 6rem;
        padding: 0.8rem;
        margin: 1rem;
    }

    .contentSlide>p {
        font-size: 1.5vw;
        width: 20rem;
    }

    /* ------------------------ESTA SECCIÓN ES FOOTER------------------------ */

    footer {
        flex-direction: row;
        height: 50vh;
    }

    footer>div>div {
        margin: 0.5rem 3.2vw;
    }

    footer>div:first-of-type {
        width: 11rem;
        padding: 0 7vw;
    }

    footer>div:last-of-type>div:nth-child(1)>div:first-of-type {
        width: 14rem;
    }

    footer>div:last-of-type>div:nth-child(1)>div:first-of-type>h4 {
        font-size: 2.2rem;
    }

    footer>div:last-of-type>div:nth-child(1)>div:first-of-type>a {
        font-size: 1.5rem;
    }

    footer>div:last-of-type>div:last-of-type>div>div {
        width: 5vw;
        margin: 0px 1.4vw;
    }

    footer>div:last-of-type>div:last-of-type>div.btnSlide>a>button {
        min-width: 254px;
        height: 52px;
        font-size: 1.6rem;
    }
}